@model IEnumerable<DoAnLapTrinhWeb.Models.tbTheLoai>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The Loai</h2>
<h6><a asp-action="Add">Add</a></h6>
<table class="table">


    <thead>
        <tr>
            <th>Ten The Loai</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var theLoai in Model)
        {
            <tr>
                <td>@theLoai.tenTheLoai</td>

                <td>

                    <a asp-action="Display" asp-route-id="@theLoai.Id">View</a> |

                    <a asp-action="Update" asp-route-id="@theLoai.Id">Edit</a> |

                    <a asp-action="Delete" asp-route-id="@theLoai.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

    