@model IEnumerable<DoAnLapTrinhWeb.Models.ApplicationUser>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 style="margin-bottom: 20px; font-family: 'Times New Roman'">
                Quản lý người dùng
            </h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead style="font-weight: bold; font-size: 20px;">
                        <tr>
                            <th style="font-weight: bold; font-size: 30px; color: black; font-family: 'Times New Roman'">Email</th>
                            <th style="font-weight: bold; font-size: 30px; color: black; font-family: 'Times New Roman'">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td style="font-size: 20px; color: black; font-family: 'Times New Roman'; vertical-align: middle;">
                                    <span>@user.Email</span>
                                </td>
                                <td style=" font-size: 20px;color:black">
                                    @if (user.is_active == 1)
                                    {
                                        <a class="btn btn-danger" href="/Admin/Books/deleteSoft/@user.Id">
                                            <i class="mdi mdi-lock-open"></i> Khóa
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" href="/Admin/Books/activeSoft/@user.Id">   <i class="mdi mdi-lock"></i> Mở  </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

