@model DoAnLapTrinhWeb.Models.tbSach


<head>
    <title>Thêm sách</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        form {
            max-width: 500px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<div>
    <a asp-action="Index2">Back to List</a>
</div>
<body>
    <h1>Sửa thông tin sách</h1>

    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="tenSach" class="control-label"></label>
            <input asp-for="tenSach" class="form-control" />
            <span asp-validation-for="tenSach" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="theLoaiId">Thể loại</label>
                <select asp-for="theLoaiId" asp-items=" ViewBag.TheLoai" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="tacGiaId">Tac Gia</label>
                <select asp-for="tacGiaId" asp-items=" ViewBag.TacGia" class="form-control"></select>

            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label">Chọn ảnh</label>
                <input type="file" name="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moTa" class="control-label"></label>
                <input asp-for="moTa" class="form-control" />
                <span asp-validation-for="moTa" class="text-danger"></span>
            </div>
            <div class="btn-container">
                <button class="btn" type="submit">Lưu</button>
            </div>
    </form>
</body>
