@model DoAnLapTrinhWeb.Models.tbTheLoai



<h1>Display</h1>

<div>
    <h4>tbTheLoai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenTheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenTheLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
